.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.contentWrap {
  flex: 1;
  margin-bottom: 1.8rem;
}
.background {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
