.wrapper {
  z-index: 3;
  position: absolute;
  border-radius: 15px;
  height: 37rem;
  width: 40rem;
  background-color: var(--Background);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto;
}
.top {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1rem;
  height: 100%;
  width: 94%;
}
.closeIcon {
  cursor: pointer;
  font-size: larger;
  color: var(--IconColor);
  margin-left: auto;
  margin-bottom: 0.4rem;
}
.closeIcon:hover {
  color: var(--FooterBackground);
  transition: all 0.2s ease 0s;
}
.imageContainer {
  margin: auto;
  width: 92%;
  height: 94%;
}
.image {
  width: 100%;
  height: 98%;
  object-fit: cover;
}
.middle {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 1rem;
  font-size: x-large;
  width: 86.5%;
}
.heart {
  color: var(--IconColor);
}
.active {
  color: var(--ActiveIcon);
}
.heart:hover {
  cursor: pointer;
  color: var(--ActiveIcon);
  transition: all 0.2s ease 0s;
}
.bottom {
  display: flex;
  margin: auto;
  margin-bottom: 2rem;
  width: 86.5%;
  text-align: left;
  font-size: large;
}
@media (max-width: 520px) {
  .wrapper {
    width: 19rem;
    height: 20rem;
  }
  .top {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0.5rem;
    height: 85%;
    width: 90%;
  }
  .imageContainer {
    margin: auto;
    min-width: 100%;
  }
  .image {
    max-width: 90%;
    height: 100%;
    object-fit: cover;
  }
  .middle {
    display: flex;
    justify-content: space-between;
    max-width: 81.5%;
    margin: auto;
    margin-top: -0.5rem;
    font-size: large;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    text-align: left;
    max-width: 81.5%;
    margin: auto;
    margin-top: -0.4rem;
    font-size: smaller;
  }
  .heart:hover {
    color: var(--ActiveIcon);
    transition: none;
  }
}
@media (min-width: 520px) and (max-width: 950px) {
  .wrapper {
    min-height: 16rem;
    min-width: 14rem;
    max-height: 29rem;
    max-width: 30rem;
  }
  .top {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1rem;
    height: 85%;
    width: 90%;
  }
  .imageContainer {
    margin: auto;
    max-width: 92%;
    height: 100%;
  }
  .image {
    width: 100%;
    height: 98%;
    object-fit: cover;
  }
  .middle {
    display: flex;
    justify-content: space-between;
    height: 85%;
    width: 82.5%;
    margin: auto;
    margin-top: -0.7rem;
    font-size: x-large;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    text-align: left;
    height: 85%;
    width: 82.5%;
    margin: auto;
    margin-top: -1rem;
  }
  .heart:hover {
    color: var(--ActiveIcon);
    transition: none;
  }
}
