.wrapper {
  position: absolute;
  border-radius: 15px;
  height: 75%;
  width: 40%;
  background-color: var(--Background);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.top {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1rem;
  width: 94%;
  height: 75%;
}
.closeIcon {
  cursor: pointer;
  font-size: larger;
  color: var(--IconColor);
  margin-left: auto;
  margin-bottom: 0.4rem;
}
.closeIcon:hover {
  color: var(--FooterBackground);
  transition: all 0.2s ease 0s;
}
.imageContainer {
  margin: auto;
  width: 92%;
  height: 94%;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.middle {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 2.3rem 0 2.3rem;
  font-size: larger;
}
.heart {
  color: var(--IconColor);
}
.active {
  color: var(--ActiveIcon);
}
.heart:hover {
  cursor: pointer;
  color: var(--ActiveIcon);
  transition: all 0.2s ease 0s;
}
.bottom {
  text-align: left;
  margin: 0.5rem 2.3rem 0 2.3rem;
}
