.wrapper {
  margin: auto;
  font-size: xx-large;
  margin-bottom: -1.5rem;
}
@media (max-width: 520px) {
  .wrapper {
    font-size: x-large;
  }
}
@media (min-width: 521px) and (max-width: 979px) {
  .wrapper {
    font-size: xx-large;
  }
}
