.wrapper {
  background-color: var(--CardBackground);
  height: 15em;
  width: 14em;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
}
.wrapper:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.1, 0.9, 1, 1);
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image:hover {
  cursor: pointer;
}
.heart .dormantHeart .inactive {
  color: var(--IconColor);
}
.active {
  color: var(--ActiveIcon);
}
.heart:hover {
  cursor: pointer;
  color: var(--ActiveIcon);
  transition: all 0.2s ease 0s;
}
.top {
  margin: 0.7rem;
  height: 11.5rem;
}
.placeholder {
  border: 0.1px solid black;
  height: 11.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.placeholderSpan {
  font-size: smaller;
}
.bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 0.7rem 0 0.7rem;
}
