.wrapper {
  margin: auto;
  max-width: 70%;
  display: flex;
  flex-direction: column;
}
.display {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

/* Button */
.showLiked {
  margin-left: auto;
  margin-bottom: 0.5rem;
  float: right;
  cursor: pointer;
  font-size: smaller;
  color: var(--Blue);
  border: 1px solid var(--Blue);
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0s;
}
.showLiked:hover {
  color: var(--Background);
  background-color: var(--Blue);
}
