.wrapper {
  margin: auto;
  max-width: 70%;
  display: flex;
  flex-direction: column;
}
/* Button */
.buttons {
  display: grid;
  grid-template-columns: 59rem;
  max-width: 100%;
  margin: auto;
}
.showLiked {
  margin-left: auto;
  margin-bottom: 0.5rem;
  float: right;
  cursor: pointer;
  font-size: smaller;
  color: var(--Blue);
  border: 1px solid var(--Blue);
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0s;
}
.showLiked:hover {
  color: var(--Background);
  background-color: var(--Blue);
}
.active {
  margin-left: auto;
  margin-bottom: 0.5rem;
  float: right;
  cursor: pointer;
  font-size: smaller;
  border: 1px solid var(--Blue);
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0s;
  background-color: var(--Blue);
  color: var(--Background);
}
.display {
  display: grid;
  margin: auto;
  grid-template-columns: 15rem 15rem 15rem 15rem;
  column-gap: normal;
}

@media (max-width: 376px) {
  .buttons {
    display: block;
  }
  .showLiked {
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    transition: none;
  }
  .display {
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    column-gap: normal;
  }
}
@media (min-width: 376px) and (max-width: 769px) {
  .buttons {
    display: block;
  }
  .showLiked {
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    transition: none;
  }
  .display {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: normal;
  }
}
